.carousel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    overflow: hidden;
}

.testimonial-container {
    max-width: 100%;
    display: flex;
    overflow-x: visible;
    animation: cycleCarousel 25s ease infinite;
}

@keyframes cycleCarousel {
    15% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-100%);
    }
    35% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(-200%);
    }
    55% {
        transform: translateX(-200%);
    }
    60% {
        transform: translateX(-300%);
    }
    75% {
        transform: translateX(-300%);
    }
    80% {
        transform: translateX(-400%);
    }
    95% {
        transform: translateX(-400%);
    }
    100% {
        transform: translateX(0);
    }
}
@media (max-width: 1024px) {
    .testimonial-container {
        max-width: calc(100vw - 4rem);
    }
}