.carousel {
    display: flex;
    gap: 2rem;
}

.carousel-button {
    background-color: transparent;
    border: none;
}

.carousel-button > svg {
    fill: var(--accent);
    height: 2rem;
    width: 2rem;
}

.carousel-button > svg:hover {
    fill: white;
}