.projects-section  {
    flex-direction: row;
    gap: 7.5rem;
    align-items: center;
}

.projects-section .first-letter {
    padding-top: 1rem;
}

.projects-section .eigth-letter {
    padding-bottom: 1rem;
}

.projects-section > .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.project-card {
    display: flex;
    align-items: center;
}

.project-card.reverse {
    flex-direction: row-reverse;
}

.project-card > div {
    width: 50%;
}

.project-screenshot {
    width: 100%;
    border: 3px solid var(--accent);
    border-radius: 5px;
    box-shadow: 1rem 1rem var(--accent);
    transition: box-shadow 0.25s ease;
}

.project-screenshot:hover {
    box-shadow: 0.5rem 0.5rem var(--accent);
}

.project-card > .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.project-card > .right-wrapper {
    padding-left: 10%;
}

.project-card > .left-wrapper {
    padding-left: 0;
    padding-right: 10%;
    align-items: flex-start;
    text-align: left;
}

.project-card > .content-wrapper > h4 > a, .project-card > .content-wrapper > p > a {
    color: var(--accent);
}

.project-card > .content-wrapper > h4 > a:hover, .project-card > .content-wrapper > p > a:hover {
    color: white;
}

.project-card > .content-wrapper > h5 {
    color: var(--primary-light);
    margin-bottom: 1rem;
}

.project-card > .content-wrapper > p {
    width: 150%;
    background-color: var(--primary-dark);
    padding: 1rem;
    padding-left: 3rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.project-card > .left-wrapper > p {
    padding-left: 1rem;
    padding-right: 3rem;
}

.project-card > .content-wrapper > .project-tech-wrapper {
    display: flex;
}

.project-card > .content-wrapper > .project-tech-wrapper > * {
    padding: 0 0.5rem;
    border-left: 1px solid var(--accent);
    border-right: 1px solid var(--accent);
    margin-bottom: 1rem;
}

.project-card > .content-wrapper > .project-tech-wrapper p:first-child {
    border-left: none;
}

.project-card > .content-wrapper > .project-tech-wrapper p:last-child {
    border-right: none;
}

.project-links-wrapper {
    display: flex;
    gap: 1rem;
}

.project-link-icon {
    fill: var(--accent);
    height: 1.5rem;
    width: 1.5rem;
    transition: height width 0.25s ease;
}

.project-link-icon:hover {
    fill: white;
}